.info {
  display: flex;
  justify-content: space-between;
}

.info2 {
  display: flex;
}

.info button {
  background-color: #bb2f3d;
  border-radius: 0.9rem;
  border: none;
  color: white;
  padding: 0.3rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.icons svg {
  cursor: pointer;
}

.icons svg:hover:first-child {
  transform: scale(1.2);
  fill: #bb2f3d;
}
.icons svg:hover:last-child {
  transform: scale(1.2);
  fill: #ffd700;
}

.imgContainer {
  position: relative;
  display: inline-block;
}

.textOverlay {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
  opacity: 1; /* Initially hide the overlay */
}
