.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.5rem;
  background-color: #bb2f3d;
  border-radius: 0.9rem;
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .nav {
    grid-template-columns: 1fr; /* Stack columns for small screens */
    text-align: center; /* Center align items for small screens */
    padding: 1rem; /* Adjust padding for small screens */
    margin-bottom: 1rem; /* Adjust margin for small screens */
  }
}
