.nav {
  justify-self: end;
  font-size: 1.8rem;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: #ececec;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
}

.nav a:global(.active) {
  background-color: rgb(175, 175, 180, 0.5);
}
